extends layout.pug 

block content 
    h1 User Input Page
    h3 You may customize your parameters to get best recommendations for your music taste.
    form(method="post" action="/recommendations-for-user")
        p Seed Genres REQUIRED
        input(type='text', name='seed_genres', placeholder='pop,classical')
        br
        p Limit OPTIONAL
        input(type='text', name='limit', placeholder="10")
        br
        p Target Tempo OPTIONAL
        input(type='text', name='target_tempo', placeholder="140")
        br
        p Target Danceability OPTIONAL
        input(type='text', name='target_danceability', placeholder="0.3")
        br
        p Target Energy OPTIONAL
        input(type='text', name='target_energy', placeholder="0.3")
        br
        p Target Acousticness OPTIONAL
        input(type='text', name='target_acousticness', placeholder="0.3")
        br

        input(type='submit', value='get recommendations')


